.center {
    text-align: center;
}
.noPadding {
    padding: 0;
}
.removeBullets {
    list-style-type: none;
}
.backPic {
    background-image: url("/assets/backPic.jpg");
    background-size: cover;
}
.mainText {
    font-size: 56px;
    color: rgb(75, 2, 2);
}
.fullscreen {
    min-height: 100vh;
}
.centerVertical {
padding-top: 175px;
}
.ourLoveStorySection {
    background-image: url("/assets/backStory1.jpg");
    background-size: cover;
    text-decoration: none;
}
.navButton {
    background-color:  rgb(75, 2, 2);
border-radius: 30px;
padding: 15px;
color: white;
border: none;
font-family: 'Courgette', cursive;

}
.pageHeader {
    min-width: 100%;
    display: flex;

}
.headerText {
    font-family: 'Courgette', cursive;
    font-size: 36px;
}

.storyText {
    font-family: 'Courgette', cursive;
    padding:10px;
    color: black;
    font-size: 20px;
    margin-top: 50px;
}
.loveStoryPic {
    width: 500px;
    margin-top: 75px;
    border-radius: 20px;
    max-width: 100%;
}
.mainSubtext {
    font-size: 36px;
    color: rgba(75, 2, 2, .7);
    font-family: 'Courgette', cursive;

}
.navText {
color: rgba(0, 0, 0, 0.705);
font-family: 'Courgette', cursive;
font-size: 15px;
text-transform:;
font-weight: 45px;
}
.countdownTimer {
    padding-top: 30px;
}
.registryList {
    padding-top: 10px;
}
.registrySection {
    background-color: rgb(255, 211, 211)
}
.detailsSection {
    background-color: rgb(221, 221, 221);
}
.registryImg {
    filter: grayscale(100%);
    max-width: 300px;
    padding-top: ;
}
.targetPicMargin {
    margin-top: -105px
    
}
.embedDiv {
 margin-bottom: 30px !important;
}
.embedMargin {margin-top: 13px;
}
.nonCursive {
    font-family: 'Courgette', cursive;
}
.instagramPic {
    height: 50px;
    width: 50px;
}
.textUnderline {
    text-decoration: underline;
    color: rgb(32, 32, 32);
}
.engagementMainPic {
    height: 430px;
    width: 300px;
}
.gallerySection {
    background-color: rgb(221, 208, 208);
}
.carouselVertical{
    height: 40%;
    width:   78%;
   
}
.carouselHorizontal {
    height: 78%;
    width:  40%;
    
}
.engagementGallery {
    background-image: url(/assets/finalEGallery.jpg);
    background-size: cover; 
}
.gallerySectionPics {
    border-width:6px;  
    border-style:outset;
    border-color: rgba(0, 0, 0, 0.514);
    border-radius: 50%;
}

  .pastGallery {
      background-image: url(/assets/pastBackground1.jpg);
      background-size: cover;

  }
  .navBarDesign {
      border: solid;
      border-color: transparent;
      margin-right: 8px;
      padding-top: 0px;
      padding-bottom: 0px;
      border-radius: 50%;
      background-image: url("/assets/eGallery.jpg");
      background-size: cover;
  }
  .modalMargin {
margin-top: 9%
  }
.modalButtons {
background: none;
border: none;
font-family: 'Courgette', cursive;
text-decoration-color: black;
}
.homeButtonIcon {
    height: 50%;
    width: 50%
}
.menuSize {
    width: 10%;
    background-color: transparent;
    border: none;
}
.dropdownMenu {
    background-color:beige;
    font-family: 'Courgette', cursive;
    
}
.responsiveImage {
    width: 100%;
    height: auto;
}